In [4]:
def func1():
    global uvw
    print(uvw)

In [9]:
func1()

3

In [7]:
uvw = 3

In [8]:
func1()

3

In [13]:
# xyz  = 3

In [14]:
def func2():
    xyz  = 0 
    xyz +=1
    print(xyz)

In [15]:
func2()

1

In [20]:
# foo = 1
def func3():
    global foo 
#     foo = 3
    print(foo)

In [21]:
func3()

1

In [22]:
foo

1

In [23]:
b = 8
def func():
    a  = 7
    print(a)
    print(b)

In [24]:
func()

7
8

In [25]:
a

NameError: name 'a' is not defined

In [31]:
a  = 0
def func():
    global a 
    print(a)
    a  = 1
    print(a)

In [32]:
func()

0
1

In [37]:
def func(a=0):
    a += 1
    print(a)

In [38]:
func()

1

In [39]:
def red():
    a  =1
    def blue():
        b = 2
        print(a)
        print(b)
    blue()
    print(a)

In [40]:
red()

1
2
1

In [41]:
a = 1
def counter():
    a = 2
    print(a)

In [43]:
counter()

2

In [44]:
a

1

In [46]:
# nonlocal = 3 # we cannot user resver word

In [47]:
import keyword

In [49]:
keyword.iskeyword('nonlocal')

True

In [59]:
keyword.iskeyword('return')

True

In [63]:
'99'.isidentifier()

False

In [65]:
_

False

In [66]:
__

False

In [69]:
x.__getitem__(i)

NameError: name 'x' is not defined

In [70]:
type('I loves dog')

str

In [73]:
a = """Hello
Welcome """

In [74]:
a

'Hello\nWelcome '

In [77]:
print(a)

Hello
Welcome

In [78]:
a= 'Dogs'

In [81]:
a[0] = 'F'

TypeError: 'str' object does not support item assignment

In [82]:
print('Hello \n My Name is Manish')

Hello
 My Name is Manish

In [90]:
print('This is using \" doubal \" blackslace')

This is using " doubal " blackslace

In [92]:
a =  'bok'

In [93]:
len(a)

3

In [94]:
len(a[2:])

1

In [97]:
str(2+3j)
j  = 2

In [101]:
int(2+3*j)

8

In [102]:
a = 'Book'

In [103]:
a.lower()

'book'

In [105]:
a.upper()

'BOOK'

In [106]:
a.capitalize()

'Book'

In [107]:
a = '   Book'
a.strip()

'Book'

In [108]:
a = '88888'

In [109]:
a.isdigit()

True

In [110]:
a = 'abc'
a.isalpha()

True

In [117]:
a = 'spacea '
a.isspace()

False

In [118]:
a.startswith('s')

True

In [119]:
a.endswith(' ')

True

In [122]:
a.find('a')

2

In [124]:
'banana'.replace('ban','gan')

'ganana'

In [127]:
'hey' < 'hi' # less then

True

In [128]:
'hey' > 'hi' # Grater then

False

In [130]:
a = 'check'
# a == 'check'

In [131]:
a

'check'

In [138]:
'Hello' != 'Hello'

False

In [139]:
'ba' + 'na' * 2

'banana'

In [141]:
'na' in 'Banana'

True

In [142]:
'less' not in 'helpless'

False

In [143]:
'lesss' in 'helplesss'

True

In [147]:
'Hey' is 'Hey'

True

In [148]:
'Yo' is not 'yo'

True

In [154]:
' ' and '1'

'1'

In [155]:
'1' and ''

''

In [163]:
c = 0

In [164]:
c += 7

In [160]:
a

14

In [165]:
b

15

In [166]:
c

7

In [172]:
a = 14

In [173]:
a -= 2

In [174]:
a

12

In [175]:
a

12

In [176]:
a /= 2

In [177]:
a

6.0

In [178]:
12 / 2

6.0

In [179]:
a *=  5

In [180]:
a

30.0

In [187]:
a %= 2

In [186]:
a = 33

In [204]:
a = 5

In [205]:
a **= 3

In [206]:
a

125

In [207]:
a //= 4

In [208]:
a

31

In [211]:
a = 7 > 7 and 2 > -1

In [215]:
True and False

False

In [216]:
False and True

False

In [217]:
True and True # Both condication to be true

True

In [219]:
False or True # One condication to be true

True

In [222]:
# True not False

In [229]:
a =  not(True)

In [230]:
a

False

In [231]:
True == 1

True

In [232]:
names_in_family =  ['Manish','Harish','Raja','Sukhdev']

In [233]:
'Bhathi' in names_in_family

False

In [234]:
'Manish' in names_in_family

True

In [235]:
'Manish'  in 'Hello Mister Manish'

True

In [236]:
'Bhati' not in names_in_family

True

In [237]:
20 is 20

True

In [241]:
True is bool(1)

True

In [242]:
bool(1)

True

In [243]:
2 is not '2'

True

In [244]:
2 & 3

2

In [245]:
3 & 4

0

In [246]:
2 | 3

3

In [247]:
class myfloat:
    def __init__(self,whole,fraction):
        self.whole = whole 
        self.fraction = fraction 
        
    def shownumber(self):
        print(f'I am {self.whole}. {self.fraction}')

In [248]:
obj1 = myfloat(3,5)

In [251]:
obj1.shownumber()

I am 3. 5

In [252]:
obj2 =  myfloat(2,3)
obj2.shownumber()

I am 2. 3

In [253]:
# Magic Method

In [256]:
__init__()

NameError: name '__init__' is not defined

In [257]:
 class addtwovalue:
        def __init__(self,age):
            self.age =  age
        def __add__(self,other):
            return self.age + other 
        def __radd__(self,other):
            return self.age + other

In [259]:
ad = addtwovalue(20)

In [260]:
ad.__add__()

40

In [266]:
a,b  = 4,3

In [267]:
if a > b:
    print('A is grater then b')
else:
    print('a is less then b ')

A is grater then b

In [272]:
4 <  3

False

In [274]:
print('a' if a<b  else 'b')

b

In [278]:
from random import random

In [287]:
a,b = random(),random()

In [292]:
(b,a)[True]

0.5304914978389162

In [289]:
a

0.5304914978389162

In [290]:
b

0.5742751888037498

In [293]:
(f"b:{b}",f"a:{a}"[a>b])

('b:0.5742751888037498', 'a')

In [294]:
a,b = random(),random()

In [295]:
{False:f"b:{b}",True:f"a:{a}"}[a > b]

'a:0.5757565096161188'

In [298]:
(lambda :f"b:{b}",lambda :f"a:{a}")[a>b]()

'a:0.5757565096161188'

In [299]:
# Nested Python Ternary Operator

In [300]:
a = random()

In [ ]:
'Less then zero ' if a < 0 else 'Between 0 and 1' if a>= 0 else 'Grater than one '